:host {
  display: flex;
  justify-content: flex-end;
  padding: 10px 15px;
  gap: 18px;
  font-size: 14px;
}

button {
  padding: 6px 12px;
  font-weight: 500;
  font-size: 14px;
}

.user-btn {
  color: #ffffff;
}

.pi-chevron-down {
  font-size: 9px;
  position: relative;
  margin-left: 2px;
}

.menu ::ng-deep {
  .p-menuitem-link {
    font-size: 14px;
    padding: 8px 16px;
  }

  .p-menu {
    width: 150px;
  }
}
