.card {
  display: block;

  cursor: pointer;

  &:hover {
    .image {
      transform: scale(1.026);
    }

    .link {
      color: #0EA5E9;
    }
  }
}

.image {
  width: 100%;
  height: 240px;
  object-fit: cover;

  transition: transform .2s;

  &__container {
    border-radius: 4px;
    overflow: hidden;
    width: 100%;
    height: 240px;
    margin-bottom: 8px;
  }
}

.description {

  &__title,
  &__price {
    font-weight: 600;
    font-size: 18px;
    line-height: 24px;
  }

  &__title {
    color: #3B82F6;
  }

  &__skeleton + &__skeleton {
    display: block;
      margin-top: 4px;

  }
}
