<div class="container">
  <span class="logo" routerLink="/">Доска объявлений</span>
  <button pButton class="p-button-outlined filter-btn" (click)="toggleFilter()">
    <i class="pi pi-bars"></i>
    Все категории
  </button>
  <div class="p-inputgroup search">
    <input type="text" pInputText placeholder="Поиск по объявлениям" />
    <button type="button" pButton>
      Найти
      <i class="pi pi-search"></i>
    </button>
  </div>
</div>

<app-extended-filter [isFilterOpened]="isFilterOpened"></app-extended-filter>
