:host {
  display: block;
}
.container {
  display: flex;
  padding: 24px 0;
  font-size: 14px;
  align-items: center;
}

.logo {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  cursor: pointer;
}

.filter-btn {
  margin-left: 24px;
  padding: 8px 12px;
}

.search {
  margin-left: 12px;
  flex: 1 0 0;

  input, button {
    padding: 8px 12px;
  }
}
