:host {
  display: block;
  border: 1px solid #E2E8F0;
  border-radius: 3px;
}

.upload {
  &__container {
    display: flex;
    align-items: center;
    gap: 16px;
    padding: 14px 16px;
    background: #F8FAFC;

    & + .thumbnails__container {
      border-top: 1px solid #E2E8F0;
    }
  }

  &__btn  {
    padding: 7px 12px;
  }
}

.file-input {
  display: none;
}

.thumbnails {
  &__container {
    padding: 16px;
    display: flex;
    flex-direction: column;
    gap: 16px;
  }

  &__item {
    display: flex;
    gap: 16px;
    align-items: flex-start;

    &__description {
      display: flex;
      gap: 16px;
      align-items: center;
    }

    &__image {
      width: 160px;
      height: 160px;
      object-fit: cover;
      border-radius: 4px;
    }

    &__size {
      color: #64748B;
    }

    &__remove {
      width: 26px;
      height: 26px;

      ::ng-deep .pi {
        font-size: 12px;
        line-height: 12px;
      }
    }
  }
}
