<input
  #fileInput
  type="file"
  class="file-input"
  (change)="upload($event)"
  accept=".png, .jpg, .jpeg"
  [multiple]="true"
/>
<div class="upload__container" *ngIf="value.length < maxLength">
  <button pButton type="button" class="upload__btn" (click)="fileInput.click()">
    <i class="pi pi-images"></i>
    Добавить картинки
  </button>
  <div class="upload__description">
    Максимум {{ maxLength }} картинок в формате jpeg или png
  </div>
</div>
<div class="thumbnails__container" *ngIf="value.length">
  <ng-container *ngFor="let file of value; let i = index">
    <div class="thumbnails__item">
      <img
        [src]="file.base64"
        [alt]="file.name"
        class="thumbnails__item__image"
      />
      <div class="thumbnails__item__description">
        <div>
          {{ file.name }}
        </div>
        <div class="thumbnails__item__size">
          {{ file.size | fileSize }}
        </div>
        <div>
          <button
            class="p-button-outlined thumbnails__item__remove"
            pButton
            icon="pi pi-times"
            (click)="removeItem(i)"
          ></button>
        </div>
      </div>
    </div>
  </ng-container>
</div>
<p-toast></p-toast>
