<a class="link phone" href="tel:{{ phone }}">{{ phone | phoneFormat }}</a>
<p-divider></p-divider>
<div class="rules">
  Правила безопасных сделок:
  <ul>
    <li>Храните в тайне почту, данные паспорта и код с карты</li>
    <li>Игнорируйте ссылки на оплату, которые присылает собеседник</li>
    <li>Никому не говорите коды из смс и пуш-уведомлений</li>
  </ul>
</div>
