<div class="header">
  <app-header class="container-main"></app-header>
</div>
<div class="main-search">
  <app-main-search class="container-main"></app-main-search>
</div>
<div class="container-main">
  <router-outlet></router-outlet>
</div>
