:host {
  display: block;
  position: relative;
}

.filter {
  top: 9px;
  position: absolute;
  width: 100%;
  background-color: #ffffff;
  overflow: hidden;
  height: 850px;
  padding: 32px 0;
  z-index: 1000;
}

.parent-category {
  display: flex;
  justify-content: space-between;
  margin-right: 24px;
  padding: 8px 12px;
  align-items: center;
  cursor: pointer;
  border-radius: 8px;

  &:hover {
    background: #FAFAFA;
  }

  &_selected {
    background: #F5F5F5;
  }

  &__container {
    display: flex;
    flex-direction: column;
    gap: 8px;
  }
}

.category-title {
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
  margin-bottom: 24px;
}

.subcategory {

  font-size: 16px;
  line-height: 24px;

  &__title {
    font-weight: 600;
    font-size: 18px;
    line-height: 24px;
  }

  &__container {
    display: flex;
    flex-direction: column;
    gap: 8px;
  }
}
