<div class="filter" *ngIf="isFilterOpened" @filterAnimation>
  <div class="grid">
    <div class="col-3 parent-category__container">
      <div class="parent-category parent-category_selected">
        Транспорт <i class="pi pi-chevron-right"></i>
      </div>
      <div class="parent-category">
        Недвижимость<i class="pi pi-chevron-right"></i>
      </div>
      <div class="parent-category">
        Работа<i class="pi pi-chevron-right"></i>
      </div>
      <div class="parent-category">
        Услуги<i class="pi pi-chevron-right"></i>
      </div>
      <div class="parent-category">
        Личные вещи<i class="pi pi-chevron-right"></i>
      </div>
      <div class="parent-category">
        Для дома и дачи<i class="pi pi-chevron-right"></i>
      </div>
      <div class="parent-category">
        Автозапчасти и аксессуары<i class="pi pi-chevron-right"></i>
      </div>
      <div class="parent-category">
        Электроника<i class="pi pi-chevron-right"></i>
      </div>
      <div class="parent-category">
        Хобби и отдых<i class="pi pi-chevron-right"></i>
      </div>
      <div class="parent-category">
        Животные<i class="pi pi-chevron-right"></i>
      </div>
      <div class="parent-category">
        Бизнес и оборудование<i class="pi pi-chevron-right"></i>
      </div>
    </div>
    <div class="col-9">
      <div class="category-title">
        Транспорт <i class="pi pi-chevron-right"></i>
      </div>
      <div class="grid">
        <div class="col-4 subcategory__container">
          <div class="subcategory__title">Мотоциклы и мототехника</div>
          <div class="subcategory">Вездеходы</div>
          <div class="subcategory">Картинг</div>
          <div class="subcategory">Квадроциклы и багги</div>
          <div class="subcategory">Мопеды и скутеры</div>
          <div class="subcategory">Мотоциклы</div>
          <div class="subcategory">Снегохода</div>
        </div>
        <div class="col-4 subcategory__container">
          <div class="subcategory__title">Мотоциклы и мототехника</div>
          <div class="subcategory">Вездеходы</div>
          <div class="subcategory">Картинг</div>
          <div class="subcategory">Квадроциклы и багги</div>
          <div class="subcategory">Мопеды и скутеры</div>
          <div class="subcategory">Мотоциклы</div>
          <div class="subcategory">Снегохода</div>
        </div>
        <div class="col-4 subcategory__container">
          <div class="subcategory__title">Мотоциклы и мототехника</div>
          <div class="subcategory">Вездеходы</div>
          <div class="subcategory">Картинг</div>
          <div class="subcategory">Квадроциклы и багги</div>
          <div class="subcategory">Мопеды и скутеры</div>
          <div class="subcategory">Мотоциклы</div>
          <div class="subcategory">Снегохода</div>
        </div>
      </div>
    </div>
  </div>
</div>
