<div class="page-title">Мои объявления</div>

<div class="grid grid_cards" *ngIf="state$ | async as state">
  <ng-container *ngIf="!state.isLoading; else loading">
    <div class="xl:col-3 lg:col-4 md:col-6 sm:col-12">
      <app-new-ad-card></app-new-ad-card>
    </div>
    <ng-container *ngIf="state.data; else noData">
      <ng-container *ngFor="let ad of state.data">
        <div class="xl:col-3 lg:col-4 md:col-6 sm:col-12">
          <app-card [ad]="ad"></app-card>
        </div>
      </ng-container>
    </ng-container>
  </ng-container>
</div>

<ng-template #loading>
  <ng-container *ngFor="let _ of skeletonArr">
    <div class="xl:col-3 lg:col-4 md:col-6 sm:col-12">
      <app-card></app-card>
    </div>
  </ng-container>
</ng-template>
<ng-template #noData> </ng-template>
