.title,
.price {
  font-weight: 600;
  font-size: 30px;
  line-height: 36px;
  margin-bottom: 16px;
}

.phone-btn {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 20px;
  font-size: 20px;
  line-height: 28px;
  margin-bottom: 40px;

  .pi {
    font-size: 24px;
    margin-right: 4px;
  }
}

.section {
  margin-bottom: 40px;

  &__title {
    font-weight: 600;
    font-size: 24px;
    line-height: 32px;
    margin-bottom: 8px;
  }

  &__description {
    margin-bottom: 4px;
  }

  &__skeleton {
    display: block;
    margin-bottom: 2px;
  }
}
