<div class="grid">
  <ng-container *ngIf="data; else skeleton">
    <div class="xl:col-8 lg:col-7 sm:col-12">
      <div class="title">Macbook Pro 13 2020 M1 8/256</div>
      <app-gallery [data]="data.images"></app-gallery>
    </div>
    <div class="xl:col-4 lg:col-5 sm:col-12">
      <div class="price">{{ 80000 | currencyFormat }}</div>
      <button pButton class="phone-btn" (click)="showPhoneModal()">
        <i class="pi pi-phone"></i>
        <span> Показать номер телефона </span>
      </button>

      <div class="section">
        <div class="section__title">Адрес</div>
        <div class="section__description">Севастополь, ул. Гоголя, 33Б</div>
        <a class="link">
          Открыть на карте
          <i class="pi pi-external-link"></i>
        </a>
      </div>

      <div class="section">
        <div class="section__title">Описание</div>
        <div class="section__description">
          Продается MacBook Pro 13 8/256 Сам ноутбук в отличном состоянии,
          количество циклов перезарядки 123, в комплекте:
          коробка,ноутбук,блок,кабель и чек!
        </div>
      </div>
    </div>
  </ng-container>
</div>

<ng-template #skeleton>
  <div class="xl:col-8 lg:col-7 sm:col-12">
    <div class="title">
      <p-skeleton width="60%" height="36px"></p-skeleton>
    </div>
    <app-gallery></app-gallery>
  </div>
  <div class="xl:col-4 lg:col-5 sm:col-12">
    <div class="price">
      <p-skeleton width="30%" height="36px"></p-skeleton>
    </div>
    <button pButton class="phone-btn" [loading]="true">
      <i class="pi pi-phone"></i>
      <span> Показать номер телефона </span>
    </button>

    <div class="section">
      <div class="section__title">Адрес</div>
      <div class="section__description">
        <p-skeleton
          class="section__skeleton"
          width="70%"
          height="18px"
        ></p-skeleton>
        <div class="mb-2"></div>
      </div>
      <p-skeleton
        class="section__skeleton"
        width="160px"
        height="18px"
      ></p-skeleton>
    </div>

    <div class="section">
      <div class="section__title">Описание</div>
      <div class="section__description">
        <p-skeleton
          class="section__skeleton"
          width="90%"
          height="18px"
        ></p-skeleton>
        <p-skeleton
          class="section__skeleton"
          width="70%"
          height="18px"
        ></p-skeleton>
        <p-skeleton
          class="section__skeleton"
          width="80%"
          height="18px"
        ></p-skeleton>
        <p-skeleton
          class="section__skeleton"
          width="50%"
          height="18px"
        ></p-skeleton>
      </div>
    </div>
  </div>
</ng-template>
