<ng-container *ngIf="isLogin; else registration">
  <form [formGroup]="loginForm" (ngSubmit)="login()">
    <input
      type="text"
      pInputText
      formControlName="phone"
      placeholder="Номер телефона"
    />
    <app-validation [control]="loginForm.get('phone')"></app-validation>
    <input
      type="password"
      pInputText
      formControlName="password"
      placeholder="Пароль"
    />
    <app-validation [control]="loginForm.get('password')"></app-validation>
    <div class="footer">
      <button pButton>Войти</button>
      <button
        pButton
        type="button"
        class="p-button-text"
        (click)="isLogin = false"
      >
        Регистрация
      </button>
    </div>
  </form>
</ng-container>

<ng-template #registration>
  <form [formGroup]="registerForm" (ngSubmit)="register()">
    <input
      type="text"
      pInputText
      formControlName="phone"
      placeholder="Номер телефона"
    />
    <app-validation [control]="loginForm.get('phone')"></app-validation>
    <input
      type="password"
      pInputText
      formControlName="password"
      placeholder="Пароль"
    />
    <app-validation [control]="loginForm.get('password')"></app-validation>
    <input
      type="password"
      pInputText
      formControlName="confirmPassword"
      placeholder="Подтверждение пароля"
    />
    <app-validation
      [control]="loginForm.get('confirmPassword')"
    ></app-validation>
    <div class="footer">
      <button pButton>Зарегистрироваться</button>
      <button
        pButton
        type="button"
        class="p-button-text"
        (click)="isLogin = true"
      >
        Вход
      </button>
    </div>
  </form>
</ng-template>
