.photo {
  width: 100%;
  height: 512px;
  margin-bottom: 20px;

  img {
    width: 100%;
    height: 512px;
    object-fit: cover;
    border-radius: 4px;
  }
}

.thumbnail {

  &__container {
    height: 84px;
    width: 100%;
    margin-bottom: 20px;
    cursor: pointer;
    border-radius: 4px;
    overflow: hidden;

    &_selected {
      border: 3px solid #3B82F6;

      img {
        border: 1px solid #FFFFFF;
        border-radius: 2px;
        height: 78px !important;
      }
    }
  }

  img {
    width: 100%;
    height: 84px;
    object-fit: cover;
    transition: transform 0.1s;

    &:hover {
      transform: scale(1.06);
    }
  }
}

