<ng-container *ngIf="data; else skeleton">
  <div class="photo">
    <img [src]="data[selectedIndex].src" />
  </div>
  <div class="grid thumbnails">
    <div class="thumbnail col-2" *ngFor="let img of data; let i = index">
      <div
        class="thumbnail__container"
        [class.thumbnail__container_selected]="selectedIndex === i"
      >
        <img [src]="img.src" (click)="selectedIndex = i" />
      </div>
    </div>
  </div>
</ng-container>

<ng-template #skeleton>
  <div class="photo">
    <p-skeleton width="100%" height="512px"></p-skeleton>
  </div>
  <div class="grid thumbnails">
    <div class="col-2">
      <p-skeleton height="84px" width="100%"></p-skeleton>
    </div>
    <div class="col-2">
      <p-skeleton height="84px" width="100%"></p-skeleton>
    </div>
    <div class="col-2">
      <p-skeleton height="84px" width="100%"></p-skeleton>
    </div>
    <div class="col-2">
      <p-skeleton height="84px" width="100%"></p-skeleton>
    </div>
    <div class="col-2">
      <p-skeleton height="84px" width="100%"></p-skeleton>
    </div>
  </div>
</ng-template>
