

body {
  margin: 0;
  color: #1E293B;
}

* {
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
}

.p-button {
  padding: 12px 24px;
  gap: 10px;

  &-label {
    font-weight: 400;
  }

  &.p-button-icon-only {
    gap: initial;
  }
}

form {
  display: flex;
  flex-direction: column;

  input:not(:first-child), .footer {
    margin-top: 16px;
  }
}

input, textarea {
  display: block;
  width: 100%;
}

.container-main {
  max-width: 1326px;
  margin: auto;
  padding: 0 15px;
}

.page-title {
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
  margin: 24px 0;
}

.grid_cards {
  margin-right: -12px;
  margin-left: -12px;
  margin-top: -12px;

  & > [class*=col] {
    padding: 12px;
  }
}

.link {
  color: #3B82F6;
  cursor: pointer;
  text-decoration: none;

  &:hover {
    color: #0EA5E9;
  }
}

.required {
    &:after {
      content: " *";
      color: #EF4444;
    }
}

.secondary {
  font-size: 14px;
  line-height: 20px;
  color: #64748B;
}

img {
  background-color: #dee2e6;
}
