.card {
  display: flex;
  cursor: pointer;
  height: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 24px;
  font-weight: 500;
  font-size: 18px;

  background: rgba(59, 130, 246, 0.04);
  border: 3px dashed rgba(59, 130, 246, 0.16);
  border-radius: 4px;
  color: #3B82F6;

  transition: background-color 0.2s, border-color 0.2s, color 0.2s;

  &:hover {
    background: rgba(59, 130, 246, 0.08);
    border: 3px dashed rgba(59, 130, 246, 0.32);
  }

  &:active {
    color: #1E3A8A;
    .icon {
      border: 3px dashed #1E3A8A;
    }
  }
}

.icon {
  border: 3px dashed #3B82F6;
  border-radius: 50%;
  padding: 11px;
  width: 60px;
  height: 60px;
  transition: border-color 0.2s;
}

.pi {
  font-size: 32px;
}
