<div class="page-title">Новое объявление</div>

<form [formGroup]="form" (ngSubmit)="submit()">
  <div class="grid">
    <div class="sm:col-12 md:col-6 lg:col-4">
      <div class="field">
        <label class="block required">Выберите категорию</label>
        <input
          type="text"
          pInputText
          formControlName="category"
          placeholder="Нажмите, чтобы выбрать"
        />
        <app-validation [control]="form.get('category')"></app-validation>
      </div>
    </div>
  </div>
  <div class="grid">
    <div class="sm:col-12 md:col-12 lg:col-8">
      <div class="field">
        <label class="block required">Название объявления</label>
        <input
          type="text"
          pInputText
          formControlName="title"
          placeholder="Что хотите продать?"
        />
        <app-validation [control]="form.get('title')"></app-validation>
      </div>
      <div class="field">
        <label class="block required">Описание</label>
        <textarea
          pInputTextarea
          [rows]="5"
          formControlName="description"
          placeholder="Расскажите подробнее о товаре или услуге"
        >
        </textarea>
        <app-validation [control]="form.get('description')"></app-validation>
      </div>
      <div class="field">
        <label class="block required">Адрес (место проведения сделки)</label>
        <input
          type="text"
          pInputText
          formControlName="address"
          placeholder="Начните вводить адрес"
        />
        <app-validation [control]="form.get('address')"></app-validation>
      </div>
      <div class="field">
        <app-images-upload formControlName="images"></app-images-upload>
      </div>
    </div>
  </div>
  <div class="grid">
    <div class="sm:col-12 md:col-6 lg:col-4">
      <div class="field">
        <label class="block required">Цена </label>
        <p-inputNumber
          formControlName="price"
          placeholder="0 ₽"
          mode="currency"
          currency="RUB"
          currencyDisplay="symbol"
          locale="ru-RU"
        ></p-inputNumber>
        <app-validation [control]="form.get('price')"></app-validation>
      </div>
    </div>
  </div>
  <div class="footer">
    <button pButton>Разместить объявление</button>
    <div class="mt-1 secondary">
      Нажимая кнопку «Разместить объявление»<br />
      Вы соглашаетесь с <a class="link">правилами площадки</a>
    </div>
  </div>
</form>
